<div id="loginbody" >
<form action="/login" method="POST" class="fullcontainer">
    <div class="imgcontainer">
        <img src="/image/loginwaifu2.png" alt="loginwaifu2" class="loginwaifu" height="200" width="200">
    </div>

    <div class="logincontainer">
        <div id="username">
            <label for="uname"><b>Username:　</b></label>
            <br>
            <input type="text" placeholder="Enter Username" name="username" size="300" required>
        </div>
        <div id="password">
            <label for="psw"><b>Password:　</b></label>
            <br>
            <input type="password" placeholder="Enter Password" name="password" size ="300" required>
        </div >
        <div id="submit">
            <button type="submit">Login</button>
        </div>
        <div>or</div>


</form>
<form action="/auth/google" method="POST">
    <div class="logincontainer">
        <input type="image" src="/image/googleicon.png" alt="googleicon" height = "75" width="300" name="submit">
</form>
</div>
</div>
