<form action="/login" method="POST" class="fullcontainer">
    <div class="imgcontainer">
        <img src="/image/loginwaifu.png" alt="loginwaifu" class="loginwaifu" height="200" width="200">
    </div>

    <div class="logincontainer">
        <div id="username">
            <label for="uname"><b>Username:　</b></label>
            <br>
            <input type="text" placeholder="Enter Username" name="username" size="300" required>
        </div>
        <div id="password">
            <label for="psw"><b>Password:　</b></label>
            <br>
            <input type="password" placeholder="Enter Password" name="password" size ="300" required>
        </div >
        <div id="submit">
            <button type="submit">Login</button>
        </div>
        <div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div>Log in with </div>
        <div> <img src="/image/fbicon.png" alt="" height = "50" width="50">
            <img src="/image/googleicon.png" alt="" height = "50" width="50">
            <img src="/image/instaicon.png" alt="" height = "50" width="50">
        </div>

    </div>
</form>
