<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anime List</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
<!--    < % include .views/partials/navbar.ejs % >  no clue how to do htios-->
    <%- body %>
</body>
</html>
