
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../public/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Watch List</title>
</head>

<body>
    <div>
        <div id="Anime_Title">
            Boku no Hero Academia
        </div>
        <div id="Anime_Picture">
            <img src="https://upload.wikimedia.org/wikipedia/en/8/88/So_I%27m_a_Spider%2C_So_What%3F%2C_volume_1.jpg" alt="Boku no Hero Academia">
        </div>
    </div>



</body>

</html>