<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWA Homepage</title>

</head>
<body class="homepage">
<nav>
    <div class="menu-container">

        <a href="/" class="menu-item">Home</a>
        <a href="#about" class="menu-item">About</a>
        <!--        change to be dyanmic and say the users name instead of saying login-->
        <a href="/login" class="menu-item">Login</a>
    </div>
</nav>
<header class="container">
    <div class="text-container">
        <div class="box">
            <div class="title">
                <span class="block"></span>
                <h1>Anime Watchlist<span></span></h1>
            </div>
        </div>
        <a href="#" class="button">Get Started</a>
    </div>
</header>

<section class="about">
    <div class="about-title">
        <h4>Track, organize, and personalize your favourite list of animes
            today! </h4>
    </div>
    <div id="about" class="about-desc">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut
            arcu nec nibh lobortis gravida in in arcu. Aenean id lacus euismod,
            pulvinar arcu sed, consequat dui. In hac habitasse platea dictumst.
            Fusce lacinia finibus libero. Duis magna ipsum, molestie vel blandit
            at, tempus vel ex. Aliquam erat volutpat. In in sollicitudin justo.
            Proin bibendum massa nec lorem auctor dignissim. Suspendisse
            potenti. Cras lobortis neque vel orci accumsan pellentesque. Vivamus
            et ligula massa. Maecenas enim tellus, lobortis eu felis id, mollis
            imperdiet turpis. Donec porttitor risus sit amet urna maximus,
            laoreet facilisis nunc venenatis. Nam sed augue eros. Duis non
            egestas nisi. Cras faucibus sed sem vitae sollicitudin.</p>
    </div>
    <div class="about-pic">

    </div>
</section>

<footer>
<!--    somethign here lol-->
</footer>

</body>
</html>
