<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../public/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Watch List</title>
</head>

<body>
    <header id="wlhead">
        <h1 id="webtitle">VerygoodAnimeList</h1>
        <h2 id="username"> username </h2>
    </header>


    <body>
        <main id="contentbox">
            <div id="wlnav">
                <a class="active" href="#home">My Watch List</a>
                <a href=#Top_suggested>Top Suggested</a>
                <a href="#about">Archive</a>
                <input type="text" placeholder="Search..">
            </div>

            <div id="listcontainer">

            </div>

            <div>
                <p>Latest Updated Episodes</p>
                <ul class="animelist">
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/naruto.png" alt="Naruto" width="250" height="250">
                        <div class="image_bottom_text">Naruto</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>


                </ul>
                <p>top 10 best waifu anime</p>
                <ul class="animelist">
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/naruto.png" alt="Naruto" width="250" height="250">
                        <div class="image_bottom_text">Naruto</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                </ul>
                <p>2021 Anime</p>
                <ul class="animelist">
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/naruto.png" alt="Naruto" width="250" height="250">
                        <div class="image_bottom_text">Naruto</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                </ul>
                <p>Top 10 Classic Anime</p>
                <ul class="animelist">
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/naruto.png" alt="Naruto" width="250" height="250">
                        <div class="image_bottom_text">Naruto</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/onepiece.png" alt="One Piece" width="250" height="250">
                        <div class="image_bottom_text">One Piece</div>
                    </li>
                    <li class="imagecontainer">
                        <img src="/image/animelist/hxh.png" alt="HunterXHunter" width="250" height="250">
                        <div class="image_bottom_text">HunterXHunter</div>
                    </li>
                </ul>
            </div>
        </main>
    </body>


</body>

</html>
