<head>
    <title>AWA List</title>
</head>

<body class="anime-list">
 <nav class="navbar">
     <div class="seachbar">
         <a href="/" class="icon" title="Homepage"></a>
         <p>AWA</p>
         <input type="search" placeholder="🔎">
     </div>
     <div class="account-bar">
         <a href="/add" class="add-btn" title="Add anime"></a>
         <a href="#" class="acct" title="Account Settings">Account</a>
     </div>
 </nav>
<section class="animes">
    <div class="anime-header">
        <h2>Animes</h2>
        <h2>May 17, 2021</h2>
    </div>
    <div class="anime-overview">
        <h1>0</h1>
        <h1>0</h1>
        <h1><%= userAnimes.length %></h1>
        <p></p>
        <p>In Progress</p>
        <p>Completed</p>
        <p>Total Shows</p>
    </div>
        <div class="anime-cards">
            <div class="list-view">
                <% for (let anime of userAnimes) { %>
                <div class="anime-card">
                    <img src=<%= anime.ANI_pic %> >
                    <div class="anime-desc">
                        <div class="anime-desc-header">
<!--                            make date dynamic as well -->
                            <p class="date">May 17, 2021</p>
                            <a href="#"></a>
                        </div>
                        <h3 class="anime-title"><%= anime.ANI_title %></h3>
                        <p><%= anime.ANI_desc %></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
</section>
</body>

