<head>
    <title>AWA List</title>
</head>

<body>
<!--    <nav>-->
<!--        <div class="menu-container list_view">-->

<!--            <a href="/" class="menu-item">Home</a>-->
<!--            <a href="/" class="menu-item">About</a>-->
<!--            <a href="/list" class="menu-item">Your List</a>-->
<!--            &lt;!&ndash;        change to be dyanmic and say the users name instead of saying login&ndash;&gt;-->
<!--        </div>-->
<!--    </nav>-->
    <div class="anime">
        <div class="card_list">
            <% for (let anime of userAnimes) { %>
            <div class="card">
                <img src=<%= anime.ANI_pic%> >
                <div class="card_desc">
                    <div class="card-title"><%= anime.ANI_title %> </div>
                    <div class="anime_desc"><%= anime.ANI_desc %></div>
                    <div class="desc_footer">
                        <div class="tag">Romance</div>
                        <div class="tag">Action</div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
